# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Raphaa JP\Documents\PERIODO 2021.1\Estrutura de dados II -  Izabella\Estrutura de Dados2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
